@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<script src="~/js/components.js"></script>
<script defer type="module" src="~/js/filebrowser.js"></script>


<div class="container my-3 p-3 pb-0 align-items-center text-center border shadow">
	<h1 class="display-5">WebFTP</h1>
	<h3 class="lead">Running on @Model.IP</h3>
</div>

<div class="contianer-fluid small-margin-x">
	<div class="row">
		<div class="col">
			<h4 class="text-left">Server Files</h4>
			<div id="file-browser"></div>
			<div id="download-bar-area"></div>

		</div>
		<div class="col">
			<form>
				<div class="form-group">
					<label for="input-file" class="label-file">Upload a File</label>
					<input type="file" class="form-control-file" id="input-file">
				</div>
				<div class="form-group">
					<label for="input-filename" class="label-filename">Filename</label>
					<input type="text" class="form-control input-filename" id="input-filename" disabled>
				</div>
				<button type="submit" id="input-submit" class="btn btn-primary">Upload</button>
			</form>
			<div id="upload-bar-area"></div>
		</div>
	</div>
</div>